.graph {
  align-items: center;
  justify-content: space-around;
}

.graph-heading {
  display: flex;
}

.chart {
  display: flex;
  align-items: center;
  justify-content: center;
}

.graph button {
  background: transparent;
  color: var(--blue);
  outline: none;
  border: none;
}

@media screen and (min-width: 540px) {
  [full] .chart {
    transform: scale(2);
  }
}
