:root {
	--dark: #131E27;
	--darkblue: #1C2E3B;
	--black: #0B0E13;
	--blue: #17D0FA;
	--dirtyblue: #17D0FADD;
	--text: rgba(243, 243, 243, 0.7);
	--white: rgba(243, 243, 243, 0.8);
	--darktext: rgba(243, 243, 243, 0.4);
	--darkness: rgba(19, 30, 39, 0.3);
	--purple: rgb(123, 97, 255);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	// border: 1px solid gray;
}

li {
	border: 1px solid transparent;
	cursor: default;
}

button, select, button img, button object {
	cursor: pointer;
}

button {
	background: transparent;
	color: var(--blue);
	outline: none;
	border: none;
}

body {
	position: relative;
	width: 1024px;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 20px 20px 20px;
	font-family: Roboto, Arial, sans-serif;
	background: var(--darkblue);
	overflow-x: hidden;

	display: grid;
	grid-template-areas:
	"header header header"
	"global-cases map death-cases"
	"country-cases map death-cases"
	"country-cases map recovery-cases"
	"country-cases map graph"
	"date map graph"
	"footer footer footer"
}
