:root {
  --dark: #131e27;
  --darkblue: #1c2e3b;
  --black: #0b0e13;
  --blue: #17d0fa;
  --dirtyblue: #17d0fadd;
  --text: rgba(243, 243, 243, 0.7);
  --white: rgba(243, 243, 243, 0.8);
  --darktext: rgba(243, 243, 243, 0.4);
  --darkness: rgba(19, 30, 39, 0.3);
  --purple: rgb(123, 97, 255);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  border: 1px solid transparent;
  cursor: default;
}

button,
select,
button img,
button object {
  cursor: pointer;
}

button {
  background: transparent;
  color: var(--blue);
  outline: none;
  border: none;
}

body {
  font-family: Roboto, Arial, sans-serif;
  background: var(--darkblue);
}

main {
  position: relative;
  min-width: 320px;
  height: 768px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  overflow-x: hidden;

  display: grid;
  grid-template-areas:
    'header header header'
    'global-cases map death-cases'
    'country-cases map death-cases'
    'country-cases map recovery-cases'
    'country-cases map graph'
    'date map graph'
    'footer footer footer';
}

/* Grids Area Names */
.header {
  grid-area: header;
}

.global-cases {
  grid-area: global-cases;
}

.country-cases {
  grid-area: country-cases;
}

.date {
  grid-area: date;
}

.map {
  grid-area: map;
}

.death-cases {
  grid-area: death-cases;
}

.recovery-cases {
  grid-area: recovery-cases;
}

.graph {
  grid-area: graph;
}

.footer {
  grid-area: footer;
}

/*Container Sizes*/
.container {
  position: relative;
  min-width: 248px;
  min-height: 83px;
  background: var(--black);
  border-radius: 6px;
  margin: 2px;
  padding: 14px 18px 16px 18px;
  border: 1px solid transparent;
  z-index: 0;
}

.container:hover {
  border: 1px solid #000;
}

.container_xs {
  width: 248px;
  min-height: 83px;
}

.container_s {
  width: 281px;
  min-height: 189px;
}

.container_m {
  width: 248px;
  min-height: 402px;
}

.container_l {
  width: 437px;
  min-height: 580px;
}

.map-intaractive-content {
  margin-top: 27px;
  width: 100%;
  min-height: 470px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

/* Scroll */
::-webkit-scrollbar {
  width: 6px;
  background: var(--dark);
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: var(--blue);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #002e3b;
}

/* Search */
.search .input {
  background: var(--darkness);
  border-radius: 6px;
}

.input {
  width: 100%;
  padding-right: 9px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.input img {
  margin-right: 10px;
}

.input input {
  min-height: 24px;
  background: transparent;
  border: none;
  outline: none;
  color: var(--text);
  padding: 6px;
}

[full] .input input {
  width: 100%;
  min-height: 24px;
  background: transparent;
  border: none;
  outline: none;
  color: var(--text);
  padding: 6px;
}

.input input::placeholder {
  color: var(--white);
}

.search {
  min-width: 220px;
  width: calc(100% - 10px);
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  opacity: 0.7;
  position: relative;
}

.search:hover {
  opacity: 1;
}

input:focus::placeholder {
  color: transparent;
}

.search button {
  width: 10px;
  height: 10px;
}

/*Common*/
.heading {
  color: var(--text);
  font-size: 11px;
}

.counter,
.update-time {
  color: var(--blue);
  margin-right: 7px;
}

.country-hover {
  &:hover {
    cursor: pointer;
  }
}

.country-hover {
  outline: none;
  display: flex;
  justify-content: space-between;
}

.full-screen-btn {
  position: absolute;
  top: 4px;
  right: 7px;
  transition: 0.1s all;
}

[full] .full-screen-btn svg {
  width: 16px;
}

.full-screen-btn:hover {
  transform: scale(1.2);
}

[full] .full-screen-btn:hover {
  transform: scale(1.1);
}

.dropdown {
  background: transparent;
  border: none;
  outline: none;
  color: var(--text);
  font-size: 11px;
  line-height: 13px;
}

.scroll-container {
  margin-top: 5px;
  width: 220px;
  height: 400px;
  overflow-y: scroll;
}

[full] .scroll-container {
  height: 80vh;
}

.list ul {
  margin-top: 4px;
  list-style: none;
}

.list li {
  width: 206px;
  min-height: 28px;
  background: var(--dark);
  color: var(--text);
  margin-top: 4px;
  padding: 5px 0 5px 7.62px;
  border-radius: 6px;
}

.list li:hover {
  border: 1px solid var(--purple);
}

[full] li,
[full] .scroll-container {
  min-width: 320px;
  width: 98%;
}

@media screen and (min-width: 1040px) {
  main {
    justify-content: center;
    margin-top: 2vw;
    width: 100%;
    max-width: 1640px;
    min-height: 720px;
    height: 768px;
    height: auto;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-areas:
      'header header header'
      'global-cases map death-cases'
      'country-cases map death-cases'
      'country-cases map recovery-cases'
      'country-cases map graph'
      'date map graph'
      'footer footer footer';
  }

  .footer {
    max-width: 100%;
  }
  .container {
    min-width: 25%;
  }
  .container_l {
    width: 99.5%;
    min-height: 600px;
  }
}

@media screen and (max-width: 1023px) {
  main {
    width: 100%;
    height: auto;
    grid-template-areas:
      'header header'
      'map map'
      'global-cases death-cases'
      'country-cases death-cases'
      'country-cases recovery-cases'
      'country-cases graph'
      'date graph'
      'footer footer';
  }

  li,
  .scroll-container {
    width: 98% !important;
  }

  .container {
    width: 99.2%;
    padding-right: 2px;
  }

  .map {
    width: 100%;
  }

  .github-links {
    margin-top: 20px;
  }
  .year {
    margin-right: 10px;
  }
  .modal-window {
    right: 0;
    left: -1px;
  }
  .footer {
    height: auto;
  }
}

@media screen and (max-width: 740px) {
  main {
    grid-template-areas:
      'header'
      'map'
      'global-cases'
      'country-cases'
      'date'
      'death-cases'
      'recovery-cases'
      'graph'
      'footer';
  }

  .container {
    width: 100%;
  }
  .map {
    width: 100%;
  }
  .footer ul li:first-child {
    margin-left: 0;
  }
  .footer ul,
  .github-links {
    flex-wrap: wrap !important;
  }
  .github-links ul,
  .github-links ul li a {
    font-size: 14px;
  }
  .year {
    margin: 40px auto 5px;
  }
}

// Modal Window FullScreen
[full] {
  position: fixed;
  z-index: 999;
  width: 98%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 40px 57px 20px;
  top: 10px;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
}

[full] .wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}

[full] .wrapper div {
  width: 100%;
}

[full] .select__trigger span {
  width: 242px;
}

[full] .wrapper,
[full] .scroll-container {
  width: 100%;
  max-height: 90vh;
}

[full] .bookmarks .scroll-container,
[full] .basemaps .scroll-container {
  height: 100px;
}

[full] .legend .scroll-container {
  height: 66px;
}

[full] .legend .scroll-container li,
[full] .bookmarks .scroll-container li {
  width: 96%;
}

.map-intaractive {
  display: flex;
  justify-content: flex-start;
}

[full] .map-area {
  width: 100%;
}

[full] .global-heading,
[full] .date-heading {
  font-size: 22px;
  margin-bottom: 10px;
}

[full].global-cases {
  justify-content: center;
}

[full] .global-cases-counter,
[full] .update-time {
  text-align: center;
  font-size: 48px;
}

.map-nav {
  display: none;
}

.visible {
  display: block;
}

.hide {
  display: none;
}
